.cardButton:hover {
  display: inline-block;
}

.cards {
  border-radius: 10px;
  text-align: center;
  padding: 2% 1%;
}



.read_more {
  font-size: 0.5rem;
}

.card-header {
  height: 8vh;
}


.card {
  background-color: rgb(73, 134, 248);
  margin-bottom: 30px;
}

.extra_space{
  margin-top:5%;
}

.card:hover {
  transform: scale(1.1);
  transition: 1s;
}

.card1 {
  transition: transform 0.5s ease;
  margin: auto;
  height: 50vh;
  width: 100%;
}

.card1:hover {
  transition: 0.5s;
}

.product_heading {
  font-size: 5rem;
  padding: 2%;
  text-align: center;
}

.product_info{
  text-align: center;
}

.product_image {
  padding: 0 5%;
  border-radius: 20%;
}

.product_text {
  padding: 0 10%;
}

.image_edit1 {
  height: 21vh;
}

  

@media (max-width:450px) {
  .image_edit1 {
    height: 25vh;
    width: 100%;
  }

  .card1 {
    transition: transform 0.5s ease;
    margin: auto;
    height: 54vh;
    width: 100%;
  }
}

@media (min-width:451px) and (max-width:767px) {
  .image_edit1 {
    height: 25vh;
    width: 100%;
  }

  .card1 {
    transition: transform 0.5s ease;
    margin: auto;
    height: 54vh;
    width: 100%;
  }
}

@media (width:1024px) {
  .card-header {
    height: 5vh;
  }
  
  
  .image_edit1 {
    height: 20vh;
    width: 100%;
  }

  .card1 {
    transition: transform 0.5s ease;
    margin: auto;
    height: 37vh;
    width: 100%;
  }
}




